<? include partials/header ?>
<? include partials/nav ?>
<div class="container pt-4">
    <div class="row justify-content-center p-0">
        <div class="col-11 col-md-8 p-0 justify-content-center">
            <form autocomplete="off" action="/recipe/search/get" method="post" id="my_form" class="col-12 p-0 pl-3 cover">
                <div class="row col-12 p-0">
                    <div class="autocomplete col-8 p-0 d-flex justify-content-left">
                        <input onkeypress="myFunction(event)" id="myInput" type="text" placeholder="add up to 5 ingredients">
                    </div>
    
                    <div class="col-4 p-0 d-flex justify-content-end align-items-center">
                        <img title="add item" id="search-button" class="search-button float-right" src="https://img.icons8.com/bubbles/42/000000/add.png">
                    
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="itemdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img title="ingredients basket" class="float-right search-button" src="https://img.icons8.com/bubbles/42/000000/scarlet-shopping-basket.png">
                            </a>
                            
                            <div class="dropdown-menu mt-5" aria-labelledby="itemdrop" id="dd">
                                <h6 class="pl-4 pt-2">List of ingredients</h6>
                            </div>
                        </div>

                        <a title="search" class="float-right" href="javascript:{}" onclick="checkSubmit()">
                            <img class="search-button" src="https://img.icons8.com/bubbles/42/000000/google-web-search.png">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>



<!-- Body -->
<div class="container tron p-0 mt-5">

    <!-- First Jumbo -->
    <div class="row col-12 p-0 m-0">
        <div class="col-12 d-flex align-items-center b-shadow m-0" id="header">
            <h1 class="jumbo">
                What ingredients <br> do you have?
            </h1>
        </div>
    </div>


    <!-- Beef and Eggs -->
    <div class="row col-12 mt-5 p-0 m-0">
        
        <div class="col-12 pl-0 pr-0 pr-sm-3 col-sm-6">
            <a href=" /recipe/search/Beef">
            <div class="col-12 sub b-shadow" style="background: url(../assets/beef2.jpeg) center center / cover no-repeat">
                <h1 class="jumbo">
                    Beef
                </h1>
            </div>
            </a>
        </div>

        <div class="col-12 pl-0 pr-0 col-sm-6 mt-5 mt-sm-0">
            <a href="/recipe/search/Eggs">
            <div class="col-12 sub b-shadow" style="background: url(../assets/eggs.jpeg) center center / cover no-repeat">
                <h1 class="jumbo float-right">
                    Eggs
                </h1>
            </div> 
            </a>
        </div>
    </div>


    <!-- Pasta and Lettuce -->
    <div class="row col-12 mt-5 p-0 m-0">
        <div class="col-12 pl-0 pr-0 pr-sm-3 col-sm-5">
            <a href="/recipe/search/Pasta">
            <div class="col-12 sub b-shadow" style="background: url(../assets/pasta1.jpeg) center center / cover no-repeat">
                <h1 class="jumbo">
                    Pasta
                </h1>
            </div> 
            </a>
        </div>

        <div class="col-12 pl-0 pr-0 col-sm-7 mt-5 mt-sm-0">
            <a href="/recipe/search/Lettuce">
            <div class="col-12 sub b-shadow" style="background: url(../assets/salad1.jpeg) center center / cover no-repeat">
                <h1 class="jumbo float-right">
                    Lettuce
                </h1>
            </div> 
            </a>
        </div>
    </div>


    <!-- Other -->
    <div class="row col-12 mt-5 p-0 m-0">
        <div class="col-12 pl-0 pr-0 col-sm-8 sub b-shadow d-flex align-items-end justify-content-end" style="background: url(../assets/board.jpeg) center center / cover no-repeat">
            <h1 class="jumbo">
                Other? Just search
            </h1>
        </div>

        <div class="col-12 pl-0 pr-0 pl-sm-3 col-sm-4 mt-2 mt-sm-0 d-flex align-items-center justify-content-center pr-0">
            <h1 class="jumbo-help">
                Or you could just check our specials below!
            </h1>
        </div>
    </div>


    <!-- Specials -->
    <div class="row col-12 mt-0 mt-md-5 p-0 m-0 pb-5 d-flex justify-content-between">
        <div class="col-6 pl-0 pr-2 col-md-3 mt-5 mt-sm-0">
        <a href="/recipe/search/get/591231">
            <div class="col-12 sub b-shadow d-flex align-items-end justify-content-end" style="background: url(../assets/shrimp2.jpeg) center center / cover no-repeat">
                <h1 class="jumbo3 p-2">
                    Chilli Shrimp
                </h1>
            </div> 
        </a>
        </div>

        <div class="col-6 pl-0 pr-1 col-md-3 mt-5 mt-sm-0">
        <a href="/recipe/search/get/809332">
            <div class="col-12 sub b-shadow d-flex align-items-start justify-content-end" style="background: url(../assets/lemonade2.jpeg) center center / cover no-repeat">
                <h1 class="mt-2 pb-2 jumbo3 w-50 text-center">
                    Raspberry Lemonade
                </h1>
            </div> 
        </a>
        </div>

        <div class="col-6 pl-1 pr-0 col-md-3 mt-5 mt-sm-0">
        <a href="/recipe/search/get/993356">
            <div class="col-12 sub b-shadow d-flex align-items-center justify-content-start" style="background: url(../assets/aspas.jpeg) center center / cover no-repeat">
                <h1 class="jumbo3 w-50 pl-2">
                    Asparagus with cheese
                </h1>
            </div> 
        </a>

        </div>

        <div class="col-6 pl-2 pr-0 col-md-3 mt-5 mt-sm-0">
        <a href="/recipe/search/get/1011446">
            <div class="col-12 sub b-shadow d-flex align-items-start justify-content-start" style="background: url(../assets/csteak.jpeg) center center / cover no-repeat">
                <h1 class="jumbo3 mt-3 p-2">
                    Cajun Flank Steak
                </h1>
            </div> 
        </a>
        </div> 

    </div>
</div>
</div>
<? include partials/footer ?>
<script> autocomplete(document.getElementById("myInput"), foods); </script>