<? include partials/header ?>
<div class="container tron">
    <div class="row">
        <div class="col-7 jumbo">
            HÖBO Reverse <br>
            Cookbook
            <div class="col-9 pl-0">
                <p class="pt-3" id="jumbo-text">
                    What ingredients do you have? We'll tell you what to make.
                    Lorem ipsum dolor sit amet consectetur adipisicing elat. 
                    Rerum quis quisquam deleniti tempora totam porro labore ratione exercitationem.
                </p>
            </div>


            <hr class="col-9 float-left mt-5 mb-5"></hr>

            <div class="row specials col-12">
                <div class="card col-3">
                    <img src="https://static1.squarespace.com/static/5a35be7e7131a5daca2e591c/5a3827559140b764372170c8/5a8f18d5419202d9fac41ec1/1519327449045/Screen+Shot+2018-02-22+at+1.21.06+PM.png?format=300w" alt="" class="card-img-top">
                    <div class="card-body">
                    <h6 class="card-title">Pata Alfredo  <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a></h6>
                    </div>
                </div>
    
                <div class="card col-3">
                    <img src="https://static1.squarespace.com/static/5a35be7e7131a5daca2e591c/5a3827559140b764372170c8/5a8f18d2652deac02d67361d/1519327445934/Screen+Shot+2018-02-22+at+1.20.37+PM.png?format=500w" alt="" class="card-img-top">
                    <div class="card-body">
                    <h6 class="card-title">Linguini  <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a></h6>
                    </div>
                </div>

                <div class="card col-3">
                    <img src="https://static1.squarespace.com/static/5a35be7e7131a5daca2e591c/5a3827559140b764372170c8/5a8f18d471c10becaf8f2668/1519327448918/Screen+Shot+2018-02-22+at+1.20.50+PM.png?format=500w" alt="" class="card-img-top">
                    <div class="card-body">
                    <h6 class="card-title">Fish and egg  <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a></h6>
                    </div>
                </div>
                <span id="top-recipes">Top recipes</span>
            </div>
        </div>

        <div class="col-5">
            <img class="float-right" src="https://x.yummlystatic.com/s/00b4d84c3/img/homePromo/hero-web-group.jpg" alt="">
        </div>
    </div>
</div>
<? include partials/footer ?>