@import url('https://fonts.googleapis.com/css?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    background-color: rgb(255, 255, 255);
    /* color: #E89C23 #1B87E8 */
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

/* ================================ */
/* Nav */
/* ================================ */
.navbar-brand {
    font-size: 24px;
    color: #E89C23;
}

.search {
    border-radius: 50%;
    margin-right: 30px; 
    padding: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.search:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}


.btn-outline-primary {
    padding: 8px 18px;
    border-radius: 30px;
}

/* ================================ */
/* Jumbotron */
/* ================================ */

.tron {
    margin-top: 100px;
}

.img {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 400px;
}

.jumbo {
    font-size: 30px;
}

#jumbo-text {
    font-size: 18px;
    font-family: 'Padauk', sans-serif;
}


/* ================================ */
/* Specials */
/* ================================ */

i {
    font-size: 15px;
}

.btn-sm {
    padding: 2px 4px;
}
/* .specials {
    margin-top: 100px;
} */

.card {
    padding: 0;
    margin-right: 20px;
}

.card-body {
    padding: 10px;
    padding-bottom: 0;
}

#top-recipes {
    font-size: 24px;
}


/* ================================ */
/* Form */
/* ================================ */
#fc {
    margin-top: 150px; 
}

.form-container {
    width: 50%;
    margin: auto;
}

.form-button {
    width: 100%;
}


/* ================================ */
/* Typehead */
/* ================================ */

#searchbar {
    margin: 0 auto;
    width: 80%;
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 2px;
    padding: 20px 12px;
    border-radius: 20px 0 0 20px;
}

#ingredients {
    width: 400px;
    /* height: 200px; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.search-button {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    border-radius: 0 20px 20px 0;
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    transition: 0.3s;
}


#ingredients form {
    width: 90%;
    margin: 0px auto;
}


#ingredients form input {
    outline: none;
    border: none;

    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 8px; 
    list-style: none;
    border-bottom: 2px solid #E89C23;
    width: 100%;
}

.ing-search {
    display: block;
    width: 90%;
    margin: 0px auto;
    background-color: #E89C23;
}


/* ================================ */
/* Recipes Refactored code from https://codepen.io/veronicadev/pen/WJyOwG by Veronica */
/* ================================ */

.card-box {
    /* width: 80%; */
    width: 270px;
    margin: 0px auto;
}

.card-box:hover {
    cursor: pointer;
}

.recipe-card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    padding: 0;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.3);
}

.recipe-card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.5);
    transform: scale(1.10, 1.10);
}

.recipe-card-image {
    background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    /* visibility: hidden; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.recipe-card-info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    height: 140px;
}

.f-text {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.recipe-card-title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card-by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.view-more {
    width: 100%;
}

.view-more button {
    margin: 50px auto;
    display: block;
}



/* ================================ */
/* Recipe Page */
/* ================================ */

.r-image {
    /* border-top-left-radius: 32px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.rows {
    /* border-top-left-radius: 32px; */
    /* border-top-right-radius: 32px; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}


ul {
    padding-left: 30px;
    list-style-image: url('../assets/toaster.png');
}

p {
    color: grey;
    font-size: 11px;
}

/* li {
    width: 400p;
} */

/* .bullet-icon {
    width: 70px;
    height: 70px;
} */

/* .row1 {
    border-bottom: 3px solud grey;
} */
/* .row2 {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
} */

.step {
    margin-bottom: 20px;
}