@import url('https://fonts.googleapis.com/css?family=Padauk&display=swap');

body {
    background-color: rgb(255, 255, 255);
    /* color: #E89C23 #1B87E8 */
}

/* ================================ */
/* Nav */
/* ================================ */
.navbar-brand {
    font-size: 24px;
    color: #E89C23;
}

.search {
    border-radius: 50%;
    margin-right: 30px; 
    padding: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.search:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
}


.btn-outline-primary {
    padding: 8px 18px;
    border-radius: 30px;
}

/* ================================ */
/* Jumbotron */
/* ================================ */

.tron {
    margin-top: 100px;
}

.img {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 400px;
}

.jumbo {
    font-size: 30px;
}

#jumbo-text {
    font-size: 18px;
    font-family: 'Padauk', sans-serif;
}


/* ================================ */
/* Specials */
/* ================================ */

i {
    font-size: 15px;
}

.btn-sm {
    padding: 2px 4px;
}
/* .specials {
    margin-top: 100px;
} */

.card {
    padding: 0;
    margin-right: 20px;
}

.card-body {
    padding: 10px;
    padding-bottom: 0;
}

#top-recipes {
    font-size: 24px;
}


/* ================================ */
/* Form */
/* ================================ */
#fc {
    margin-top: 150px; 
}

.form-container {
    width: 50%;
    margin: auto;
}

.form-button {
    width: 100%;
}


/* ================================ */
/* Typehead */
/* ================================ */

#searchbar {
    /* margin: 0 auto; */
    width: 80%;
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
    /* margin-left: 20px; */
    margin-right: 2px;
    padding: 20px 12px;
    border-radius: 20px 0 0 20px;
}

#ingredients {
    width: 400px;
    /* height: 200px; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.search-button {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    border-radius: 0 20px 20px 0;
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    transition: 0.3s;
}


#ingredients form {
    width: 90%;
    margin: 0px auto;
}


#ingredients form input {
    outline: none;
    border: none;

    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 8px; 
    list-style: none;
    border-bottom: 2px solid #E89C23;
    width: 100%;
}

.ing-search {
    display: block;
    width: 90%;
    margin: 0px auto;
    background-color: #E89C23;
}