<? include ../partials/header ?>

<div class="container mt-5 mb-5">
    <div class="row rows mb-1">
        <div class="col-6 r-image" style="background-image: url(<?= recipe.image ?>)"></div>
        <div class="col-6 card-body pl-4">
            <h3 class="card-title"><?= recipe.title ?></h3>
            <h4><img src="https://img.icons8.com/clouds/60/000000/clock.png"> <?= recipe.readyInMinutes ?> minutes</h4>
            <h5>Credits to <?= recipe.creditsText ?></h5>
            <p>
            <? let ingredient = recipe.extendedIngredients; ?>

            <? for(var i = 0; i < ingredient.length; i++){ ?>
                <? if(i == ingredient.length-1){ ?>
                    <?= ingredient[i].name.toUpperCase() ?>
                <? } else { ?>
                    <?= ingredient[i].name.toUpperCase() ?>,
                <? } ?>
            <? } ?>
            </p>
            <a href="<?= recipe.sourceUrl ?>">
                <button class="btn btn-outline-primary">More Info</button>
            </a>
            <a href="/users/recipelike/<?= recipe._id ?>" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
    </div>

    <div class="row rows pb-5">
        <h1 class="ml-5 mb-5 mt-5">Recipe Instructions</h1>

        <ul class="col-11 ml-5">
        <? recipe.steps.forEach((step)=> { ?>
            <li class="mb-5">
                <?= step ?>
            </li>
        <? }) ?>
        </ul>
    </div>

    <div class="row rows mt-2 pt-5 pb-5">
        <h2 class="pl-5 mb-5 mt-5 col-12">Comments</h2>

        <form class="col-12 mb-5 pl-5 pr-5 d-flex justify-content-center" action="/recipe/<?= recipe.id ?>/comments" method="POST">
            <input type="text" class="col-9 comment-text" name="comment[text]">
            <button class="btn btn-outline-primary float-right">Add Comment</button>
        </form>

        <? console.log(recipe.comments) ?>

        <? if(recipe.comments[0]){ ?>
            <? recipe.comments.forEach((comment)=> { ?>
                <div class="comments col-12 pl-5 pr-5">
                    <strong> <?= comment.author.username ?></strong>
                    <span class="float-right"><?= comment.time ?></span>
                    <p><?= comment.text ?></p>
                    <form action="/recipe/<?= recipe.id?>/comments/<?= comment._id ?>?_method=PUT" method="POST"> 
                        <button class="btn btn-outline-primary">Edit</button>
                    </form>
                    <form action="/recipe/<?= recipe.id ?>/comments/<?= comment._id ?>?_method=DELETE" method="POST"> 
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            <? }); ?>   
        <? }else { ?>
            <h5 class="pl-5">Sorry no comments</h5>
        <? } ?>

    </div>
</div>

<? include ../partials/footer ?>






