<? include ../partials/header ?>
<? include ../partials/nav ?>

<div class="container mt-2 mb-2 mt-lg-5 mb-lg-5">
    <div class="row rows mb-1">
        <div class="col-12 col-md-6 r-image" style="background-image: url(<?= recipe.image ?>)"></div>
        <div class="col-12 col-md-6 card-body pl-4 mb-3 d-flex align-items-center">
            <div>
                <h3 class="card-title mb-0"><?= recipe.title ?></h3>
                <h4 class="mb-0"><img src="https://img.icons8.com/clouds/50/000000/clock.png"> <?= recipe.readyInMinutes ?> minutes</h4>
                <h5>Credits to <span class="orange"><?= recipe.creditsText ?></span></h5>
                <p>
                <? let ingredient = recipe.extendedIngredients; ?>
    
                <? for(var i = 0; i < ingredient.length; i++){ ?>
                    <? if(i == ingredient.length-1){ ?>
                        <?= ingredient[i].name.toUpperCase() ?>
                    <? } else { ?>
                        <?= ingredient[i].name.toUpperCase() ?>,
                    <? } ?>
                <? } ?>
                </p>
    
                    <? if(recipe.vegan){ ?>
                        <img title="Vegan" src="https://img.icons8.com/dusk/40/000000/vegan-food.png">  
                    <? } ?>
        
                    <? if(recipe.glutenFree){ ?>
                        <img title="Gluten Free" src="https://img.icons8.com/offices/40/000000/no-gluten.png">  
                    <? } ?>
        
                    <? if(recipe.dairyFree){ ?>
                        <img title="Dairy Free" src="https://img.icons8.com/ultraviolet/40/000000/no-milk.png">
                    <? } ?>
    
    
    
                <a href="<?= recipe.sourceUrl ?>">
                    <button class="btn btn-outline-primary">More Info</button>
                </a>
                <a href="/users/recipelike/<?= recipe._id ?>" class="btn btn-outline-danger btn-md rounded-circle"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>

    <div class="row rows pb-5">
        <? if(recipe.steps[0]){ ?>
            <h1 class="ml-5 mb-4 mb-md-5 mt-5 recipe-h1">Recipe Instructions</h1>

            <ul class="col-9 col-md-11 ml-5 d-flex align-items-center">
            <div>
                <? recipe.steps.forEach((step)=> { ?>
                    <li class="mb-5">
                        <?= step ?>
                    </li>
                <? }) ?>
            </div>
            </ul>
        <? } else { ?>
            <h1 class="mb-4 mb-md-5 mt-5 text-center recipe-h1" style="margin: 0px auto">Sorry we don't have the steps for this recipe :( <br> Click on more info to get them</h1>
        <? } ?>
    </div>

    <div class="row rows mt-2 pt-5 pb-5">
        <div class="col-12 mb-5 mt-5 d-flex justify-content-center" id="addcomment">
            <button onclick="showSubmit()" class="btn btn-outline-primary float-right">Add a Comment</button>
        </div>

        <form id="commentSubmit" class="col-12 mb-5 pl-5 pr-5 justify-content-center" action="/recipe/<?= recipe.id ?>/comments" method="POST">
            <input type="text" class="col-12 col-md-9 comment-text" name="comment[text]">
            <img class="search-button ml-2" onclick="document.getElementById('commentSubmit').submit();" src="https://img.icons8.com/bubbles/46/000000/add.png">
        </form>


        <? if(recipe.comments[0]){ ?>
            <? recipe.comments.forEach((comment)=> { ?>
                <div class="comments col-12 pl-5 pr-5">
                    <strong> <?= comment.author.username ?></strong>
                    <span class="float-right"><?= comment.time ?></span>
                    <p><?= comment.text ?></p>
                    <!-- <form action="/recipe/<?= recipe.id?>/comments/<?= comment._id ?>?_method=PUT" method="POST"> 
                        <button class="btn btn-outline-primary">Edit</button>
                    </form> -->

                    <? if(currentUser && comment.author.id.equals(currentUser._id)){ ?>
                    <form action="/recipe/<?= recipe.id ?>/comments/<?= comment._id ?>?_method=DELETE" method="POST"> 
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <? } ?>
                    
                </div>
            <? }); ?>   
        <? }else { ?>
            <h5 class="mx-auto">Sorry no comments</h5>
        <? } ?>

    </div>
</div>

<? include ../partials/footer ?>






